.aboutContent {
  position: relative;
  margin-top: 30px;
  background: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 15px;
  z-index: 2; }
  .aboutContent img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 60px; }
  .aboutContent h1 {
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    color: #000000;
    margin-top: 45px;
    max-width: 797px;
    width: 100%;
    margin: 45px auto 0; }
  .aboutContent a {
    color: #333333;
    padding: 10px 6px 10px 20px;
    border: 2px solid grey;
    margin: 23px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    text-align: center; }
    .aboutContent a:hover {
      background: #38d2d9; }
