.testimonialsContent {
  display: flex;
  justify-content: space-between;
  height: 600px;
  background: #000;
  position: relative;
  overflow: hidden;
}

.testimonials {
  display: flex;
  /* max-width: 800px; */
  margin: 0 auto;
  overflow: hidden;
  left: 0px;
  height: inherit;
  position: absolute;
  z-index: 10;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  h3 {
    color: white;
    max-width: 684px;
    margin: 20px auto 0;
    font-weight: 400;
    line-height: 35px;
  }
  div {
    padding: 0 67px;
    margin: 29px 0 20px 0;
    /*// margin: 100px 155px;*/
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}





.block {
  position: relative;
  background: #000;
  width: 10%;
  z-index: 99;
  height: inherit;
}

.sliderPos {
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  div {
    border: 1px solid grey;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: white;
    margin: 0 5px;
  }
  @media (max-width: 710px) {
    & {
      bottom: 150px;
    }
  }
  @media (max-width: 642px) {
    & {
      bottom: 150px;
    }
  }

  @media (max-width: 548px) {
    & {
      bottom: 100px;
    }
  }

  @media (max-width: 472px) {
    & {
      bottom: 50px;
    }
  }
  @media (max-width: 446px) {
    & {
      bottom: 20px;
    }
  }
}


.sld:nth-child(1){
  background: aqua;
}